venv/
.env
*.jl
*.log


#static files
staticfiles/


# any csv files
*.csv

#ignore templates report file which is generated
/templates/report.html
/templates/report2.html

#ignore dbSQLite
db.sqlite3

__pycache__/
*.pyc
*.pyo
*.pyd

.ipynb_checkpoints 


# celery 
celerybeat-schedule.* 

*.bak
.vscode/
.idea/