[Unit]
Description=django advertools daemon
After=network.target

[Service]
User=coboit
Group=www-data
WorkingDirectory=/home/coboit/django-advertools
# Environment="PATH=/rmm/api/env/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/bin/bash -c 'source /home/coboit/django-advertools/.env && /home/coboit/django-advertools/venv/bin/daphne -b 0.0.0.0 -p 8001 django_advertools.asgi:application'
Restart=on-failure
Restart=always
RestartSec=3s

[Install]
WantedBy=multi-user.target
