{% extends "base.html" %}
{% load static %}


{% block css %}

{% endblock css %}

{% load crispy_forms_tags %}
{% block pageContent %}
<div class="container">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                <h1 class="h1 text-primary">Django Advertools Wrapper</h1>
            </div>
            <div class="col-md-8">
                <img class="img-fluid" width="350" height="350" src="{% static 'images/logo.png' %}" alt="Logo">
            </div>
            
        </div>

    </div>
</div>
{% endblock pageContent %}

{% block javascript %}

<script>

</script>


{% endblock javascript %}