{% extends "base.html" %}
{% load static %}


{% block css %}

{% endblock css %}

{% load crispy_forms_tags %}
{% block pageContent %}
<div class="container">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-7">
                <form method="post" onsubmit="openLoader()">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4 main-t">Industry SEO Research</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">
                            Research
                        </button>
                    </div>
                    
                </form>
            </div>
            <div id="loadingModal" class="col-md-7 mt-2" style="display: none;">
                <div class="mt-2">
                  <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                  Loading...
                </div>
            </div>


        </div>
    </div>
</div>
{% endblock pageContent %}

{% block javascript %}



<script>

    function openLoader() {
        document.getElementById("loadingModal").style.display = "block";
      }
    
</script>


{% endblock javascript %}