{% extends "base.html" %}
{% load static %}


{% block css %}

{% endblock css %}

{% load crispy_forms_tags %}
{% block pageContent %}
<div class="container">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <form method="post">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4 main-t">Knowledge Graph</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">
                            Get Knowledge
                        </button>
                    </div>
                    
                </form>
            </div>
            <div class="col-md-12 mt-3" style="height: 600px; overflow-y: scroll; max-width:870px;overflow-x: scroll;">
                {% if knowDf %}
                    {{ knowDf | safe }}
                {% endif %}
            </div>

        </div>
    </div>
</div>
{% endblock pageContent %}

{% block javascript %}
<script>
    $(document).ready(function () {
        $('select').select2();
     });
   
</script>



{% endblock javascript %}