{% extends "base.html" %}
{% load static %}


{% block css %}

{% endblock css %}

{% load crispy_forms_tags %}
{% block pageContent %}
<div class="container">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-7">
                <form method="post" onsubmit="openLoader()">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4 main-t">Convert Robots.txt to dataframe</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">
                            Get Robots
                        </button>
                    </div>
                    
                </form>
            </div>
            <div id="loadingModal" class="col-md-7 mt-2" style="display: none;">
                <div class="mt-2">
                  <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                  Loading...
                </div>
            </div>

            <div class="col-md-6">
                <canvas id="donutChart" class="mt-2"></canvas>
            </div>
            
            {% if invalid_urls %}
            <div class="col-md-6">
                
                <h4 class="mt-3 h4 text-secondary">Invalid Urls</h4>
                <div class="list-group" style="overflow: scroll;max-height: 400px;">
                    {% for i in invalid_urls %}
                        <a href="{{ i }}" target="_blank" class="list-group-item list-group-item-action">
                            {{ i }}
                        </a>
                    {% endfor %}
                  </div>
            </div>
            {% endif %}
            

            <div id="filterContainer" class="mt-1"></div>
            <div class="col-md-12 mt-3" style="height: 600px; overflow-y: scroll;">
                {% if roboDf %}
                    <a class="btn btn-outline-secondary mb-2 mt-2"
                    id="profile-report"
                     href="{% url 'report' %}">
                        View Data Profiling Report
                    </a>
                    {{ roboDf | safe }}
                {% endif %}
            </div>

        </div>
    </div>
</div>
{% endblock pageContent %}

{% block javascript %}



<script>

    function openLoader() {
        document.getElementById("loadingModal").style.display = "block";
      }
    
</script>

<script>
    
    const jsonData = {{ json|safe }};
    console.log(jsonData);

    function generateRandomColors(count) {
        var colors = [];
        for (var i = 0; i < count; i++) {
            var color = '#' + Math.floor(Math.random() * 16777215).toString(16);
            colors.push(color);
        }
        return colors;
    }

    function createDonutChart(jsonData) {
        var ctx = document.getElementById('donutChart').getContext('2d');
        var labels = jsonData.directive;
        var length = labels.length;
        
        var data = jsonData.percentage;
        var data2 = jsonData.frequency;

        var colors = generateRandomColors(4);
        // Define the chart data
        var data = {
        labels: labels,
        datasets: [{
            label: 'percentage directive',
            backgroundColor: colors,
            data: data
        },
        {
            label: 'frequency directive',
            backgroundColor: colors,
            data: data2
        }
    ]
        };

        // Create the chart
        var donutChart = new Chart(document.getElementById('donutChart'), {
            type: 'doughnut',
            data: data,
            options: {
                cutoutPercentage: 70, // Adjust the size of the hole in the middle (optional)
                responsive: true,
                plugins: {
                    afterDraw: function(chart) {
                        var width = chart.chart.width;
                        var height = chart.chart.height;
                        var ctx = chart.chart.ctx;

                        ctx.restore();
                        var fontSize = (height / 114).toFixed(2);
                        ctx.font = fontSize + "em sans-serif";
                        ctx.textBaseline = "middle";

                        var text = "Directive Frequencies";
                        var textX = Math.round((width - ctx.measureText(text).width) / 2);
                        var textY = height / 2;

                        ctx.fillText(text, textX, textY);
                        ctx.save();
                    },
                    title: {
                        display: true,
                        text: 'Robots txt directive Chart',
                        font: {
                        size: 18
                        }
                    },
                    // datalabels: {
                    //     formatter: function (value, context) {
                    //         return context.chart.data.labels[
                    //             context.dataIndex
                    //         ];
                    //     },
                    // },
                }
            }
        });
    }
    // Call the function to create the chart
    // const top5 = jsonData.slice(0,5);
    if (jsonData){
        createDonutChart(jsonData);
    }
    
    
</script>



{% endblock javascript %}